# Root folder of this turbo monorepo
# Doesn't send useless context to Docker daemon

**/.git
**/.github
**/.gitignore

**/node_modules
**/dist
**/build
**/npm-debug.log
**/yarn-error.log

**/.vscode/
**/.idea/

.vercel
**/.next
**/.turbo

**/.env
**/.env.*
**/!.env.example

**/test
**/tests
**/__tests__
**/coverage

**/out

**/docs
**/*.md

**/Dockerfile
**/docker-compose.yml

**/uploads