@import "tailwindcss";
@import "@repo/tailwind-config";

@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

/* ---break---*/
@custom-variant dark (&:is(.dark *));

@layer utilities {
  @font-face {
    font-family: 'Inter';
    src:
      local('inter-variable.ttf'),
      url('./assets/fonts/inter-variable.ttf') format('truetype');
  }

  * {
    font-family: 'Inter', sans-serif;
  }
}