@import 'tailwindcss';
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

/*
  ---break---
*/
@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9834 0.0052 247.88);
  --foreground: oklch(0.1371 0.036 258.53);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1371 0.036 258.53);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1371 0.036 258.53);

  --primary: oklch(0.546 0.2153 262.87);
  --primary-foreground: oklch(0.9838 0.0035 247.86);

  --secondary: oklch(94.705% 0.00981 253.018);
  --secondary-foreground: oklch(0.2079 0.0399 265.73);

  --muted: oklch(0.9684 0.0068 247.9);
  --muted-foreground: oklch(0.5547 0.0407 257.44);

  --accent: oklch(0.9684 0.0068 247.9);
  --accent-foreground: oklch(0.2079 0.0399 265.73);

  --destructive: oklch(0.6368 0.2078 25.33);
  --destructive-foreground: oklch(0.9838 0.0035 247.86);

  --border: oklch(0.929 0.0126 255.53);
  --input: oklch(0.929 0.0126 255.53);
  --ring: oklch(0.546 0.2153 262.87);
  --radius: 0.5rem;

  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);

  --sidebar-background: oklch(1 0 0);
  --sidebar-foreground: oklch(0.3705 0.012 285.8);
  --sidebar-primary: oklch(0.2103 0.0059 285.88);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.9676 0.0013 286.37);
  --sidebar-accent-foreground: oklch(0.2103 0.0059 285.88);
  --sidebar-border: oklch(0.9278 0.0058 264.53);
  --sidebar-ring: oklch(0.6232 0.1879 259.8);
  --sidebar: oklch(0.985 0 0);

  --habit-red: oklch(0.6542 0.2321 28.66);
  --habit-orange: oklch(0.7652 0.1752 62.57);
  --habit-yellow: oklch(0.8652 0.1768 90.38);
  --habit-green: oklch(0.7413 0.2222 144.69);
  --habit-mint: oklch(0.7481 0.1296 189.03);
  --habit-teal: oklch(0.7038 0.0879 217.98);
  --habit-cyan: oklch(0.7532 0.1076 222.38);
  --habit-blue: oklch(0.6028 0.2177 257.42);
  --habit-indigo: oklch(0.5295 0.191 278.34);
  --habit-purple: oklch(0.6088 0.203 315.09);
  --habit-pink: oklch(0.6497 0.2383 17.9);
  --habit-brown: oklch(0.6618 0.0728 92.95);
  --habit-gray: oklch(0.6483 0.0073 286.19);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);

  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.546 0.2153 262.87);
  --primary-foreground: oklch(0.9838 0.0035 247.86);

  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: hsl(210 40% 98%);

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --radius: 0.5rem;

  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);

  --sidebar-background: hsl(240 5.9% 10%);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --sidebar: oklch(0.205 0 0);

  --habit-red: oklch(0.662 0.2246 25.12);
  --habit-orange: oklch(0.7619 0.167 57.05);
  --habit-yellow: oklch(0.8848 0.1816 94.9);
  --habit-green: oklch(0.7556 0.2082 146.98);
  --habit-mint: oklch(0.7969 0.143053 181.6472);
  --habit-teal: oklch(0.7871 0.134091 203.3439);
  --habit-cyan: oklch(0.8076 0.135 221.82);
  --habit-blue: oklch(0.6515 0.191972 251.4696);
  --habit-indigo: oklch(0.6413 0.1928 274.69);
  --habit-purple: oklch(0.6579 0.2791 322.41);
  --habit-pink: oklch(0.6577 0.2317 16.02);
  --habit-brown: oklch(0.6681 0.0743 59.71);
  --habit-gray: oklch(0.6483 0.0073 286.19);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

@layer utilities {
  @font-face {
    font-family: 'Inter';
    src:
      local('inter-variable.ttf'),
      url('./assets/fonts/inter-variable.ttf') format('truetype');
  }

  * {
    font-family: 'Inter', sans-serif;
  }
}

/*
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
*/

/*
  ---break---
*/

@theme inline {
  --font-sans: 'Inter Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  --color-habit-red: var(--habit-red);
  --color-habit-orange: var(--habit-orange);
  --color-habit-yellow: var(--habit-yellow);
  --color-habit-green: var(--habit-green);
  --color-habit-mint: var(--habit-mint);
  --color-habit-teal: var(--habit-teal);
  --color-habit-cyan: var(--habit-cyan);
  --color-habit-blue: var(--habit-blue);
  --color-habit-indigo: var(--habit-indigo);
  --color-habit-purple: var(--habit-purple);
  --color-habit-pink: var(--habit-pink);
  --color-habit-brown: var(--habit-brown);
  --color-habit-gray: var(--habit-gray);
}