VERSION=v0.1.0

# Web

VITE_API_URL="http://localhost:3001"

# Api

PORT=3001
DB_URL=postgres://postgres:postgres@db:5432/ant-db
ORIGIN="http://localhost:3000"
APP_URL=http://localhost:3001
JWT_SECRET="123"
CREATE_ADMIN_PASSWORD=123
UPLOAD_DIR=./uploads